.container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  width: 83%;
}

.inputGroup {
    height: 40%;
    width: 150%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 20px 20px 20px 20px; */
    /* padding-left: 100px; */
  }
.inputGroup label {
  color: blue;
  text-align: center;
  margin-bottom: 7px;
}

  .inputLabel {
    text-align: center;
  }
  .inputField {
    background: rgb(78, 66, 210);
    height: 30px;
    width: 100%;
    border-radius: 15px;
  }

  .button {
    color: black;
    background-color: rgba(7, 104, 7, 0.745);
    border-radius: 10px;
    width: 120px;
    height: 35px;
    margin-left: 100%;
    margin-top: 15px;
    box-shadow: 0 0 5px 5px rgb(41, 40, 40);
    transition: 0.1s;
    font-size: 18px;
  }

  .button:hover {
    transform: scale(0.98);
    box-shadow: 0 0 1px 1px rgb(41, 40, 40);
  }