.container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.inputGroup {
    height: 40%;
    width: 110%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin: 20px 20px 20px 20px; */
    /* padding-left: 100px; */
  }
  .inputLabel {
    text-align: center;
  }
  .inputField {
    height: 30px;
    width: 100%;
  }